<div class="installment-container">
    <div class="installment-container-header">
        <span class="installment-container-header-text">طلب تقسيط سيارة</span>
        <div class="divider"></div>
    </div>
    <div class="request-main">
        <app-card *ngFor="let req of mainReq; let i=index" [cardType]="'orange'" [cardHeader]="req.type"
            [cardInfo]="req.value"></app-card>
    </div>
    <div class="request-details">
        <app-occordion [data]="occordionData"></app-occordion>
    </div>
</div>