.accordion {
    background-color:white;
    color: #009cf6;
    cursor: pointer;
    padding: 1rem 0rem;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 1rem;
    font-weight: bold;
    transition: 0.4s;
    text-align: right;
    &::before{
      content: "\f107";
      font-size: 1.5rem;
      color: #009cf6;
      top: 3px;
      right: 10px;
      position: relative;
      font-family: "FontAwesome"
    }
    &.active{
      &::before{
        content: "\f106";
        font-size: 1.5rem;
        color: #009cf6;
        top: 3px;
        right: 10px;
        position: relative;
        font-family: "FontAwesome"
      }

    }
  }
  

  .panel {
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
    &.active{
        max-height: 200px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row-reverse;
    }
  }

  @media (max-width:426px) {
    .panel{
      &.active{
        max-height: 400px;
      }
    }
  }